<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Moodplay Server</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Kanit:500|Nunito:700|Rock+Salt|Syncopate:700|Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://use.fontawesome.com/84be1777ae.js"></script>
  <style>
    h1 {
      color: #81ef0b;
      font-family: "Syncopate" , sans-serif;
      font-size: 250%;
    }
    h2, h3 {
      color: #FFAF07;
      font-family: 'Nunito', sans-serif;
      font-weight: lighter;
    }
    body {
      background-color: #222;
      margin: 2em;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    /* #enddocregion quickstart */
    body {
      color: #DDD;
      font-family: 'Nunito', sans-serif;
    }
    /* #enddocregion toh */
    a, a:visited {
      color: #4d6a79;
      -webkit-transition: color .4s ease;
      transition: color .4s ease;
      cursor: pointer;
      cursor: hand;
      text-decoration: none;
    }

    a:hover{
      color: #039be5;
    }

    span{
      font-family: 'Inconsolata', monospace;
    }
  </style>
</head>
<body>
  <div>
    <p>
      <h1>Moodplay Server</h1>
      This is Moodplay server, the backend for <a href="https://moodplay.github.io">Moodplay</a> -
      an online interactive music player
      <br><br>
      The base URI for the API: <a href="http://moodplay-data.herokuapp.com">http://moodplay-data.herokuapp.com</a>
    </p>
    %CONTENT%
  </div>
</body>
</html>
